.col-md-8.col-sm-12
  = f.input :name
  = f.input :description
  - f.object.build_attachment unless f.object.attachment
  - if @task.attachment.file.present?
    = render_task_attachment(@task.attachment)
  = f.simple_fields_for :attachment do |a|
    = a.input :file
    = a.input :_destroy, as: :boolean, label: 'Remove attachment' if a.object.persisted?
.meta-info.col-md-4.col-sm-12
  %ul
    %li
    - if current_user.admin?
      %li
        = f.association :user, label: 'Assign to', collection: User.all
    %li
      = f.input :state, collection: Task.states.map { |s| [t(s), task_state_value(s)] },
                include_blank: false
.col-md-12
  .form-group
    = f.submit class: 'btn btn-primary'
    = link_to 'Back', @task.persisted? ? users_task_path(@task) : users_root_path