.task.row
  .col-md-12
    %h2= @task.name
    .row
      .col-md-8.col-sm-12
        %p= @task.description
        - if @task.attachment
          = render_task_attachment(@task.attachment)
      .meta-info.col-md-4.col-sm-12
        %ul
          %li
            %b Task#
            = @task.id
          %li
            %b Created at:
            = @task.created_at.to_s(:short)
          - if current_user.admin?
            %li
              %b Assigned to:
              = @task.user
              %span.label.label-info= @task.user.role
          %li
            %b State:
            %span.label{class: "label-#{@task.state_name}"}= @task.state_name
      .col-md-12
        = link_to 'Back to tasks', users_root_path, class: 'btn btn-primary'
        = link_to 'Edit', edit_users_task_path(@task), class: 'btn btn-info'
